.pokedex-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: whitesmoke;
    margin-top: 1rem;
    font-size: 4rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

.main-body-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
}

.not-found {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    font-size: 32px;
    padding: 40px;
    font-weight: bold;
    color: white;
}

.not-found > img {
    width: 18rem;
    height: 24rem;
    filter: invert(1);
}

.dialog-content-body {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin: 40px;
}

#load-more-btn {
    padding: 12px 24px;
    cursor: pointer;
    font-size: 18px;
    background: linear-gradient(-90deg,
                rgb(54, 65, 233) 20%,
                rgb(57, 97, 243) 30%,
                rgb(50, 148, 253) 45%,
                rgb(101, 177, 253) 50%,
                rgb(50, 148, 253) 55%,
                rgb(57, 97, 243) 70%,
                rgb(54, 65, 233) 80%);
    border-radius: 0.75rem 0.75rem;
}

#load-more-btn:disabled {
    cursor: not-allowed;
    
    opacity: 0.6;
}

@media screen and (min-width: 1280px){
    .pokedex-content {
        padding: 0px max(0px, calc(50% - 720px));
    }
}