.pokedex-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: whitesmoke;
    margin-top: 1rem;
    font-size: 4rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

.main-body-card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}



@media screen and (min-width: 1280px){
    .pokedex-content {
        padding: 0px max(0px, calc(50% - 720px));
    }
}